* {
    margin: 0;
    overflow: hidden;
}

main {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

video {
    position: absolute;
}

.main-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

/* .container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
} */

.btn-container {
    /* position: absolute; */
    z-index: 10;
    top: 0;
}

#canvas {
    /* position: absolute; 
    top: 0;
    left: 0; */
}